(list sroot   "/home/matt/kiatoa/kiatoa-scm"
      logfile "/tmp/stmlrun/kiatoa.log"     ;; this is now required!
      dbtype  'sqlite3 ;; or 'pg
      dbinit  '((dbname   . "test-stml.db")
                (user     . "nobody")
                (password . "Dapassword")
                (host     . "localhost"))
      domain  "192.168.1.150")
